*, *:before, *:after {
    box-sizing: border-box;
}

#app {
    margin: auto;
    max-width: 800px;
}

#board {
    display: grid;
    text-align: center;
    gap: 0.25rem;
}

.cell {
    border: 1px solid black;
}
